APP_NAME=jmp
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost
APP_LOG_LEVEL=debug
APP_LOG_STDOUT=true
APP_LOG_FILE=log/app.log
APP_ROUTER_CACHE_FILE=cache/routes.cache.php

JWT_SECRET=supersecretkeyyoushouldnotcommittogithub
JWT_SECURE=false
JWT_EXPIRATION=7200

CORS_ALLOWED_ORIGINS="*"
CORS_ALLOWED_HEADERS="X-Requested-With, Content-Type, Accept, Origin, Authorization"
CORS_ALLOWED_METHODS="GET, POST, PUT, DELETE"
