APP_NAME=JMP
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost
APP_LOG_LEVEL=debug
APP_LOG_STDOUT=true
APP_LOG_FILE=./log/app.log

JWT_SECRET=supersecretkeyyoushouldnotcommittogithub
JWT_SECURE=false
JWT_EXPIRATION=7200
